@import "tailwindcss";

@keyframes slideInFade {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slider {
  animation: slideInFade 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
